*.DS_Store
*.pyc
*.cer
*.plist

dist/*
build/*
MSIX/*
stage/*

shproto/__pycache__/*
shproto/.DS_Store/*

credentials.py
appsigner.py
concept plot.py
audio_spectrum.py

_arpack.cpython-310-darwin.so
downloads.html
impulseqt-downloads.html
identifier.py
assets/.DS_Store
MSIX/ImpulseQt_x64.msix
tab2-pre-mod.py
/unpacked/ImpulseQt/_internal
unpacked/ImpulseQt.exe
unpacked/ImpulseQt/ImpulseQt.exe
assets/.DS_Store
assets/.DS_Store
