*.DS_Store
*.pyc
*.cer
*.plist

dist/*
build/*
MSIX/*
stage/*
unpacked/*

shproto/__pycache__/*
shproto/.DS_Store/*
assets/.DS_Store/*

credentials.py
appsigner.py
concept plot.py
audio_spectrum.py

_arpack.cpython-310-darwin.so
downloads.html
impulseqt-downloads.html
identifier.py



